<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Registro</title>
</head>
<body>
    {% if regis_paciente %}
        <h1>Registro del paciente</h1>
        <form action="/" method="POST">
            {{ csrf_tokem }}

            <input type="submit" name="" value="Inicio">
            <br>
            <br>
            <a class="boton_personalizado" href="/login_paciente">Soy un botón</a>
        </form>
    {% endif %}

    {% if regis_medico %}
        <h1>Registro del médico</h1>
        <form action="/" method="POST">
            {{ csrf_tokem }}

            <input type="submit" name="" value="Inicio">
        </form>
    {% endif %}

</body>
</html>